nav {
  width: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
}

.messageDiv {
  /* Not working, but how to make the string take up multiple lines if it's super long? */
  overflow: auto;
}
